
.ufru-table-user-files .column-user_id {
    width: 70px;
}

.ufru-table-user-files .column-user_login {
    width: 100px;
}

.ufru-upload-files__wrapper {
    position: relative;
}

.ufru-upload-files__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    width: 100%;
    transition: .6s ease-in-out;
    overflow: hidden;
}

.ufru-upload-files__items-file {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    background-color: #1E1E1E;
    color: #fff;
}

.ufru-upload-files__items-file img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.ufru-upload-files__items::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.ufru-upload-files__items > *:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.ufru-upload-files__load-more {
    display: flex;
    justify-content: center;
}

.ufru-upload-files__toggle-show-button {
    display: inline-block;
    color: #2271b1;
    font-weight: bold;
    cursor: pointer;
}

.ufru-upload-files__toggle-show-button-show {
    display: none;
}

.ufru-table-user-files__mobile-user-label {
    display: none;
}

@media screen and (max-width: 782px) {
    .ufru-upload-files__items {
        max-height: unset !important;
        grid-template-columns: repeat(3, 1fr);
    }

    .ufru-table-user-files .column-user_login .view {
        display: none;
    }

    .ufru-table-user-files__mobile-user-label {
        display: inline-block;
    }
}

@media screen and (max-width: 641px) {
    .ufru-upload-files__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .ufru-upload-files__load-more {
        display: none;
    }
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.expand-files .ufru-upload-files__items {
    max-height: 2000px !important;
}

.expand-files .ufru-upload-files__load-more {
    display: none;
}